<h4>Version 5.2</h4>
We wish these updates could all be packed with features, excitement and adventure but, just like in sales, sometimes it’s the routine, unglamorous actions that land the biggest deals. This release tweaks a few important things under the hood. Install it.

<h4>Version 5.1</h4>
We take the opportunity to sneak in a host of small tweaks, upgrades and preemptive fixes that improve stability and performance while you’re distracted by the enhancements made to our Nearby feature.

<h4>Version 5.0</h4>
Our latest product update brings you Pipedrive’s “Nearby” service. See all your deals, contacts and organization details on a map, check the previous and next activities for deals and switch on navigation to make sure you go to the right place. We’re still working on the part where the app drives your car to the meeting, but watch this space.

<h4>Version 4.90</h4>
We take the opportunity to sneak in a host of small tweaks and upgrades.

<h4>Version 4.80</h4>
We don’t like bugs. That’s why we work hard on catching them early and squashing them with an almighty fury, before they become our users’ problem. So please install this update, wait for the squish and carry on selling.

<h4>Version 4.70</h4>
If Pipedrive was a salesperson, this update would be tie straightening, checking that your shoes are polished and making sure you have the right files as you prepare to go and meet a prospective client. They’re minor changes and details relating to small bugs, a rare currency issue and general housekeeping, but that doesn’t mean they’re not important.

<h4>Version 4.60</h4>
This release solves two problems and makes one key improvement. First off, we’ve tweaked and worked on the way new notes are added to the app. This process should now be much smoother. Then, we’ve had reports of users trying to enter custom field values and being presented the numeric instead of alphabetical keyboard. That is also a thing of the past. Last but not least, we’ve fixed a bug that was causing issues when opening PDF files from the app.

<h4>Version 4.50</h4>
The days of door-to-door selling are becoming part of sales folklore rather than a living reality, but that doesn’t mean you don’t want to take your products with you wherever you go. This update brings the Product feature to your Android app. Now you can see the products attached to your deals and edit those products from the convenience of your mobile device. In addition you can attach existing products to deals and a few simple taps let you update quantity, price and other details.

<h4>Version 4.42</h4>
Like a man who wanders into a kitchen with no clear purpose and emerges three hours later carrying a freshly baked cake and a jug of hand squeezed orange juice while the kitchen sparkles with cleanliness, we’ve conducted some general housekeeping, stomped on a few bugs and made the kind of improvements that make you smile without quite knowing why. Just because we can.

<h4>Version 4.41</h4>
This latest update is a blend of housekeeping and laying the foundations for some future improvements.<br/><br/>
Like a regular service for a beloved vehicle, sometimes maintenance and updating is an investment in future happiness.

<h4>Version 4.40</h4>
No more wasting your precious screen space with questionable floating windows. We raised up one arm, printed a big S on our chests and redesigned the flow for attaching people and organizations to deals and activities just like a design Superman would.

<h4>Version 4.30</h4>
It takes skill to turn binoculars into a telescope strong enough to read the numberplate on the Voyager satellite, but we've done the equivalent with our in-app search engine.<br/><br/>
Not only are searches now better and faster, you can also search amongst contact phone numbers and organisation addresses. Perfect for people with the kind of memory that goes: "What was the name of that purchasing manager I met at the office in Trump Towers again?"

<h4>Version 4.20</h4>
Ever realised you were supposed to be at an important meeting on the other side of town five minutes after it was scheduled to start?<br/><br/>
We realise that you can’t afford a situation like this, which is why you can now receive notifications from Pipedrive about important meetings and tasks in real time, so you never miss a key event, again. You also have the option of seeing more information right on the notification, or even marking the activity as done right there and then.

<h4>Version 4.12</h4>
We picked up on some minor issues with the pipeline view so we sent in a crack team of fixers to solve the problem before it got out of hand.

<h4>Version 4.11</h4>
Like a first-time pilot coming in to land, we've been making loads of tiny tweaks and adjustments. It's all been done to improve existing features, most notably the new calendar view.

<h4>Version 4.1</h4>
Ever realised too late that your annual sales results presentation to the board had been scheduled for the morning after your best friend's bachelor party?<br/><br/>
Double-bookings can be brutal. That's why you need to clearly see your daily schedule in a single view while you book your time, not after the fact. Our new calendar update allows you to do exactly this. Great isn't it?

<h4>Version 4.0.1</h4>
We made so many calls that we overheated our call tracking and had to pour some cooling water on it. Bug fixed.

<h4>Version 4.0.0</h4>
Introducing Snapshot and File upload. Whether you have pictures you took of a whiteboard during a meeting or files from either your Android file picker or Google Drive, you can now upload them to your detail view Flow. Oh.. and when you're online, everything gets synced to your web app.<br/><br/>
We’re now approaching the speed of light in how fast detail views get loaded. It’s done before you can say “Pipedrive”.<br/><br/>
Finally, we tweaked the app visually, because everyone deserves eye candy.

<h4>Version 3.3.0</h4>
No maintain, no gain. That’s to say we did some maintenance to the app and tweaked the Call Tracking feature to become even better.

<h4>Version 3.2.0</h4>
Ever had two people call up a prospect twice by accident? We’re here to make sure that doesn’t happen. Our brand new call tracking feature logs calls that you initiate from the app, lets you create notes and follow-up activities after the call, so that you and everyone in your team are on the same page.<br/><br/>
In preparation for Christmas, we packed some winter magic into the app with visual tweaks and bug fixes.

<h4>Version 3.1.1</h4>
A heavy round of boxing with a couple of bugs resulted in us winning the champion’s belt.<br/><br/>
We fixed a bug that caused a single deal to appear multiple times on the pipeline view. Having a higher count of deals in your pipeline might sound good, but it’s better to be a sharp shooter on this matter.<br/><br/>
We also beat an email-related bug, which caused some of you not see email messages in the email view. All emails are now visible again.

<h4>Version 3.1.0</h4>
Coffee, code, some nails and a hammer – a recipe we used for stability improvements and bug fixes. 10/10 – would recommend.

<h4>Version 3.0.1</h4>
And now we’ve made the version pitch perfect by tweaking our instruments and bugs back into key.

<h4>Version 3.0.0</h4>
It’s almost as if Madonna knew that a new design era was coming to Pipedrive when she sang Material Girl back in 1984. A mere 31 years later, material design principles have landed at Pipedrive with a complete design overhaul and a new navigation to the whole app.

<h4>Version 2.5.0</h4>
Custom field editing is finally here. We developed it so that whenever you finish your world famous sales pitch to a prospect, you could immediately edit the custom fields you’ve set up – most importantly, of course, the brand of champagne you’d like to see once you’re back at the office (and maybe your deal confidence score, but that's optional).

<h4>Version 2.4.0</h4>
Cześć, Polish people – Pipedrive is now translated and available… in Polish, of course.<br/><br/>
Practised some bug fix magic and kept the minor tweak train going.

<h4>Version 2.3.0</h4>
Big ol’ delete button’s here. Just like Microsoft is getting rid of Internet Explorer, you can now get rid of contacts, deals, activities and more.<br/><br/>
Found the early easter egg with a sweet surprise in it - unity in number formatting and language preferences across devices. The mobile app now takes the default settings from the web app, without you having to change a thing. Hooray!<br/><br/>
Fixed a whole lotta bugs and tweaked a whole lotta stuff.

<h4>Version 2.2.1</h4>
We called in a secret agent called Terminator, Bug Terminator, who fixed what others couldn’t.

<h4>Version 2.2.0</h4>
Straight out of the haute couture dev shops of Paris Fashion Week arrives the “visual tweaks for the pipeline view” collection. Very chic.<br/><br/>
Head designers' decision: you'll get offline access to pipeline filters and other pipelines. Though if someone edited deals online, some offline items may be out of date.<br/><br/>
Like in any decent collection, classic items get refreshed. We made improvements to deal info, so that Email BCC field is now present at every deal.<br/><br/>
"Bon Voyage" time for a lot of bugs.

<h4>Version 2.1.0</h4>
We need emails like we need air or water, which is why we brought emails connected to deals and contacts inside your Flow.<br/><br/>
Edits to er.. deal editing. Change currencies right from the deal dialogue window (pro tip: make sure to be on the receiving end of Swiss Francs).<br/><br/>
As the age-old saying goes, more is more. We’ve added a ton of info about deals, including deal creation time, last update, expected close date and so on.<br/><br/>
Some common magic to get rid of bugs. No biggie.

<h4>Version 2.0.0</h4>
Standing your ground and rebelling against the Man is part of who you are. And now Pipedrive helps you do even that - add deals, contacts, activities and notes even when your Internet connection is demanding you not to. You can now do all of those things offline and not fear for your data to go missing - once you get back online, the changes made will be pushed to our servers automatically.

<h4>Version 1.11.0</h4>
Justin Timberlake was NSYNC - and so will you with our brand new files sync. Check your Flow to view files you’ve attached to deals and contacts on the web. <br/><br/>
Making details pretty with visual tweaks. <br/><br/>
Fixing ‘em bugs!

<h4>Version 1.10.1</h4>
If you were Tom Hanks and activity notes were Wilson, then a nasty bug would make you sad. A bug that has been making Wilson go missing. But worry not, Tom, we fixed it and got Wilson back. No more missing activity notes.<br/><br/>
“What about a localized app?” we heard you say. “Hell yes” we replied and got it done. Pipedrive now understands "Uma cerveja, por favor” in all 9 supported languages.

<h4>Version 1.10.0</h4>
“What about a localized app?” we heard you say. “Hell yes” we replied and got it done. Pipedrive now understands "Uma cerveja, por favor” in all 9 supported languages.

<h4>Version 1.9.1</h4>
Heaps of Cinderella dust just landed in the deal and contact views, meaning the app is so pretty you’ll have people asking you on dates just to check out the app.<br/><br/>
Many under-the-hood tweaks and improvements that will keep the motor running as smooth as ever.<br/><br/>
We sprayed bug repellent on the phone and got rid of a couple of bugs in no time.<br/><br/>

<h4>Version 1.8.1</h4>
Lollipop got even sweeter with the improvements for Android 5.0.

<h4>Version 1.8.0</h4>
Added new boosters to our data sync.<br/><br/>
Stronger bonds with your mobile - date and time are now in sync with your phone settings.<br/><br/>
Lollipop got sweeter - bugs fixed in Android 5.0.<br/><br/>
Lots of behind-the-scenes tweaks.

<h4>Version 1.7.0</h4>
E-mail automagic! Your drop-box address will be added to all outgoing emails so you’ll find them as notes in the deal and contact views. <br/><br/>
Added the one-click text message feature - master the Way of the Silent Salesman. <br/><br/>
Caught a lot of bugs.

<h4>Version 1.6.0</h4>
One search to rule them all. Look up deals and contacts in the same search bar.

<h4>Version 1.5.1</h4>
Deals tab v2.0! See every open, won and lost deal for a complete overview. <br/><br/>
A gang of bugs arrested and rehabilitated. <br/><br/>
A bunch of tweaks graduated and started working for our app.

<h4>Version 1.5.0</h4>
Happy to welcome custom fields for contacts and deals! Currently read-only, but negotiations for full functionality are going as planned. <br/><br/>
Go crazy with organizations! And by crazy we mean add and edit them.

<h4>Version 1.4.0</h4>
We’ve reached level 14 - new button unlocked! You can now sign in with your Google account.

<h4>Version 1.3.0</h4>
Notes, notes everywhere! With Flow, you can now see and add notes to your deals and contacts. <br/><br/>
Bug fixes, bug fixes everywhere! And some minor improvements. <br/><br/>
No relogin required after updating. Leaves you more time to use Flow and add notes everywhere!

<h4>Version 1.2.0</h4>
Knock, knock. Who’s there? Ben. Ben who? Ben working on the Pipedrive app for Android tablets and it’s available now. Go ahead and install it. <br/><br/>
Empty (sometimes confusing) screens abolished. May the added text guide you and give you tips. <br/><br/>
Progress made with War on Bugs. Lots of smaller improvements as well.

<h4>Version 1.1.1</h4>
Optimized Pipeline view performance, when handling numerous deals. <br/><br/>
Added Won, Lost and Rotten statuses to deal cards. <br/><br/>
Added the ability to view and edit HTML-formatted activity notes.

<h4>Version 1.0.2</h4>
Fixed currency calculations in pipeline stage headers.

<h4>Version 1.0.1</h4>
Ability to open and edit done Activities.

<h4>Version 1.0.0</h4>
Initial release